@model IEnumerable<bahare_zorufchi.Models.kala>

@{
    ViewBag.Title = "result";
    Layout = "~/Views/Shared/myprojectlayoutstyles.cshtml";
}



<h2>نتایج جستجو</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (Model.Count() != 0)
{
   <div style="text-align:center;font-size:25px;color:green;"> @Model.Count()مورد پیدا شد</div>
        
   <table class="table">
       @*<tr>
           <th>
               @Html.DisplayNameFor(model => model.Name)
           </th>
           <th>
               @Html.DisplayNameFor(model => model.Producer)
           </th>
           <th>
               @Html.DisplayNameFor(model => model.Description)
           </th>
           <th>
               @Html.DisplayNameFor(model => model.ImageURL)
           </th>
           <th>
               @Html.DisplayNameFor(model => model.Original_Price)
           </th>
           <th>
               @Html.DisplayNameFor(model => model.Discount_Price)
           </th>
           <th>
               @Html.DisplayNameFor(model => model.IsAvailable)
           </th>
           <th>
               @Html.DisplayNameFor(model => model.category.Name)
           </th>
           <th></th>
       </tr>*@

       @foreach (var item in Model)
       {
           @*<tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageURL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Original_Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount_Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAvailable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.category.Name)
                </td>

            </tr>*@





           <div style="width: 240px; height: 340px;background-color:aqua;border-radius:40px;border:solid black;background-color:white;float:right; ">
               <div style="width: 220px; height: 185px;margin-right:10px;margin-bottom:25px;"> <img style="border-radius: 30px;" src="@Url.Content(item.ImageURL)"></div>
               <div style="text-align:center" ><a href="./kala/details/@item.ID">@item.Name</a></div>
               <div style="text-align:center"> <p>@item.Description</p></div>
               <del><div style="text-align: center; color: red;" >@item.Original_Price</div></del>
               <div style="text-align:center;" > <a>@item.Discount_Price</a></div>

  


           </div>
       }

   </table>
}
else
            {
<p style="color: red; text-align: center; font-size: 25px;"> هیچ موردی پیدا نشد</p>
            }

